@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
  --bg-body: #A72231;
  --bg-header: #FFA12E;
  --bright-txt: #f5f0e4;
  --dark-txt: #0A100D;
  --darkT-Horaires: rgba(10, 16, 13, 0.5);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg-body);
  display: flex;
  flex-flow: column nowrap;

  font-family: 'Dancing Script', 'Times New Roman', Times, serif;
  font-size: larger;
  border: solid 0.5px;
}

header {
  position: sticky;
  top : 0;
  background-color: var(--bg-header);
  height : fit-content;
  
  padding: 10px 20px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  border: solid black 1px;
}

#titreHeader{
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  padding: 10px ;
  border-radius: 5px;
  background-color: var(--bg-header);
  color: var(--dark-txt) ;
  text-underline-offset: inherit;
  margin-right: 5px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a:hover {
  background-color: var(--bright-txt);
}

.icon{
  margin-right: 10px;
}

.TitreSection {
  font-style: italic;
  text-align: center;
  font-size: 2em;
}

.section {
  display: flex;
  flex-direction: column;     
  background-color: var(--bg-body);
  color: var(--bright-txt);  
  padding: 40px 20px 20px 20px;
  text-align: center;
  gap: 10px
}

hr.divider{
  border-style: none;
  border-top: 3px dashed var(--dark-txt);
  width: 100%;
}

#landingview{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(images/chalet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 380px;
  border: solid black 1px;
  border-top : solid black 0.5px;
}

#presContainer{
  background-color: #f5f0e4b8;
  padding:  30px 40px ;
  color: var(--dark-txt);
}

#titrePrincipal{
  font-size: 4em;
  margin: 0%;
  margin-bottom: 20px;
}

#textePres{
  font-style: none;
  text-align: left; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}

#infosMenu{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: x-large;
  padding: 10px;
  border-style: outset;
  border-color: #A72231;
  background-color: #821a26;
  margin-bottom: 30px ;
}

.elementPizza {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.elementPizza img{
  height: 100px;
  width: 150px;
}

.pizzaInfoContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-left: 20px;
}

.pizzaSubContainer{
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;  
}

.points {
  flex: 1;
  border-bottom: 2px dotted;
  margin-top: 15px;
  margin-left: 2px;
}

.prix {
  font-size: 25px;
  margin-right: 10px;
}

.ingredients{
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  margin-top: 5px;
}

#avisContainer{
  overflow-x: auto;
  scrollbar-color: var(--bright-txt) var(--bg-body);
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 20px;
}

.AvisUtilisateurs {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: solid var(--bright-txt);
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  min-width: 215px;
}

.pfp {
  width: 100px;
  height: 100px;
  align-self: center;
  margin-bottom: 10px;
}

.user{
  margin: 2px;
  font-weight: bold;
}

.commentaire{
  font-family: 'Times New Roman', Times, serif;
}

#noteM {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#noteMoyenne {
  width: 100px;
  height: 200;
  align-self: center;
}

footer {
  font-family: 'Times New Roman', Times, serif;
  color: var(--bright-txt);
  display: flex;
  justify-content: flex-end;
  background-color: var(--dark-txt);
  padding: 10px;
}

footer a {
  color: inherit;
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}

h5 {
  margin-top: 40px;
  margin-bottom: 40px;
}


.BlocHoraires {
  border: #0A100D;
  border-radius: 30px;
  background-color: var(--darkT-Horaires);
  margin: auto;
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  font-size: x-large;
}