@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
  --bg-body: #F8F8F8;
  --bg-header: #FFA12E;
  --bright-txt: #f5f0e4;
  --dark-txt: #0A100D;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg-body);
  display: flex;
  flex-flow: column nowrap;

  font-size: larger;
}

#Fleche {
    color: #ffffff;
    background-color: #0A100D;
    padding-left: 10px;
    padding-right: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

#lienIndex a {
    text-decoration: none;
}

#lienIndex :hover {
    background-color: #cacaca;
    color: #0A100D;
    color: font;
}


#TitreMention {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.InfoTitre {
    font-size: xx-large;
    margin: 10px;
}
.InfoSub {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}