@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
  --bg-rouge: #A72231;
  --bg-orange: #FFA12E;
  --txt-beige: #f5f0e4;
  --txt-noir: #0A100D;
  --vert: #053225;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg-rouge);
  display: flex;
  flex-flow: column nowrap;

  font-family: 'Dancing Script', 'Times New Roman', Times, serif;
  font-size: larger;
}

header 
{
  position: sticky;
  top : 0;
  background-color: var(--bg-orange);
  height : fit-content;
  
  padding: 10px 20px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}


nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  border: solid var(--bg-orange) 3px;
  padding: 10px ;
  border-radius: 5px;
  background-color: var(--bg-orange);
  color: var(--txt-noir) ;
  text-underline-offset: inherit;
  margin-right: 5px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav a:hover {
  background-color: var(--txt-beige);
}

.icon{
  margin-right: 10px;
}

.TitreSection {
  font-family: 'Dancing Script', 'Times New Roman', Times, serif;
  font-style: none;
  text-align: center;
  font-size: 2em;
}

.section {
  display: flex;
  flex-direction: column;     
  background: var(--bg-rouge);
  color: var(--txt-beige);
  padding: 20px;
  text-align: center;
  gap: 10px
}

.ElementsPizza {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom :15px;
}

.points {
  flex: 1;
  border-bottom: 2px dotted;
  margin-top: 15px;
  margin-left: 2px;
}
.nom {
  font-size: 25px;
  margin-left: 10px;
}

.prix {
  font-size: 25px;
  margin-right: 10px;
}

.image {
  width: 150px;
  height: 100px;
}

.image img {
  width: 100%;
  height: 100%;
}

#Avis {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}


.AvisUtilisateurs {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: solid var(--txt-beige);
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  min-width: 200px;
}
.pfp {
  width: 100px;
  height: 100px;
  align-self: center;
  margin-bottom: 10px;
}

.pfp img {
  width: 100%;
  height: 100%;
}

.user{
  margin: 2px;
  font-weight: bold;
}

#noteM {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#noteMoyenne {
  width: 100px;
  height: 200;
  align-self: center;
}

#noteMoyenne img {
  width: 100%;
  height: 100%;
}

footer {
  color: aliceblue;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(32, 32, 33);
  padding: 10px;
}

footer a {
  color: inherit;
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}